@{
    ViewBag.Title = "RESERVAR";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@Html.Raw(TempData["msg"])
<h2>Trocar Senha</h2>
			<form method="post" action="/Home/Troca_senha" id="frmsenha">
				<div class="email">
					<input type="text" name='txtSenhaAntiga' placeholder="Senha Antiga" class='input-block-level'>
				</div>
				<div class="pw">
					<input type="password" name="txtSenha1" placeholder="Nova Senha" class='input-block-level'>
				</div>
                <div class="pw">
					<input type="password" name="txtSenha2" placeholder="Nova Senha" class='input-block-level'>
				</div>
				<div class="submit">
					<input type="submit" value="Entrar" class='btn btn-primary'>
				</div>
			</form>
			
